<h1>About</h1>
<p>
	<a href="http://www.careerdeveloper.net" target="_blank">The One</a>
	is a project to help people find the best free music online.  As a user, you can upload free music that you've either created or have just heard.  Out of all the submissions, we post 10 free great songs a day and give you a link to download. Get enough upvotes and likes and you can begin to sell the songs!
</p>
