<h1>About</h1>
<p>
	<%= link_to "Career Developer" , "http://www.careerdeveloper.net" %>
	is a project to help people find their dream jobs.  Whether you're in
	highschool and you're trying to figure out what college and major is right for you, or whether you're gradusating from college and still don't know what you want to do, Career Developer is here to help!
</p>
